html {
  font-size: 100%;
}

body {
  font-size: 1em;
}

code {
  font-size: 100%;
}

section.main {
  margin-top: 0.75em;
}

article header {
  display: block;
  margin-top 1em;
  margin-bottom: 0.75em;
}

article header h4 {
  line-height: 1em;
  margin: 0;
}
article header h6 {
  font-size: 0.75em;
  font-weight: normal;
}

div.highlight {
  margin-bottom: 1.25em;
}

.highlight pre {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
