html {
  font-size: 100%;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-bottom: 26px;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

p {
  line-height: 1.625em;
}

code {
  font-size: 100%;
}

.col li {
  list-style-type: none;
}
